<div id="diseno" class="bg-green-100/20 w-full mt-5">
  <div class="text-center">
    <h2 class="text-4xl font-bold text-gray-800 mb-4 pt-20">
      Lleva el como muestras tus endpoints y los trabajas al siguiente nivel
    </h2>

    <p class="text-green-900 text-lg">
      Apis de prueba, Apis de repositorios propios, Diagramar sencillos y
      interactivos.
    </p>
  </div>
  <!--Funcion 1 - diagrama apis/endpoints -->
  <div class="flex pt-30 items-center justify-center gap-16 px-10">
    <div class="flex flex-col">
      <div>
        <p class="text-green-400 text-ls font-bold flex items-center gap-2">
          <svg
            class="size-5 shrink-0"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            ><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
            ></path><circle cx="12" cy="12" r="3"></circle></svg
          >
          Diseño visual para Endpoints
        </p>

        <p class="w-150 text-2xl leading-9 text-mist-600 pt-5">
          Diseña de manera grafica y sencilla tus endpoints y api's en un canva
          con nodos para todo tipo de peticiones
        </p>
      </div>

      <div class="grid grid-cols-2 gap-x-12 gap-y-3 pt-5">
        <p class="flex items-center gap-2 text-green-500 font-bold">
          <svg
            class="size-5 shrink-0 text-green-500"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            ><circle cx="12" cy="12" r="10"></circle><polyline
              points="12 6 12 12 16 14"></polyline></svg
          >
          Todos los métodos
        </p>
        <p class="flex items-center gap-2 text-green-500 font-bold">
          <svg
            class="size-5 shrink-0 text-green-500"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            ><polyline points="9 11 12 14 22 4"></polyline><path
              d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"
            ></path></svg
          >
          Ejecutable
        </p>
        <p class="flex items-center gap-2 text-green-500 font-bold">
          <svg
            class="size-5 shrink-0 text-green-500"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline
              points="7 10 12 15 17 10"></polyline><line
              x1="12"
              y1="15"
              x2="12"
              y2="3"></line></svg
          >
          Exportar diagrama
        </p>
        <p class="flex items-center gap-2 text-green-500 font-bold">
          <svg
            class="size-5 shrink-0 text-green-500"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            ><path d="M12 2L2 7l10 5 10-5-10-5z"></path><path d="M2 17l10 5 10-5"
            ></path><path d="M2 12l10 5 10-5"></path></svg
          >
          UI atractiva
        </p>
      </div>
    </div>

    <div class="relative rounded-2xl bg-gradient-to-br from-green-400/40 via-emerald-300/30 to-green-500/40 p-3 shadow-lg">
      <img src="/preview1.png" alt="Preview" class="w-[44rem] rounded-xl shadow-md" />
    </div>
  </div>
</div>
