<div class="fixed inset-0 overflow-hidden pointer-events-none -z-10">
  <div class="absolute top-1/4 left-1/4 size-[35rem] bg-emerald-500/10 rounded-full blur-[120px]" />
  <div class="absolute bottom-1/4 right-1/4 size-[30rem] bg-emerald-400/8 rounded-full blur-[100px]" />
  <div class="absolute top-3/4 left-1/2 size-[25rem] bg-emerald-600/6 rounded-full blur-[80px]" />
</div>
